* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #797979;
}

main {
  height: 100vh;
  background-image: url("../slike/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main header {
  display: flex;
  justify-content: space-between;
  width: 60%;
  background-color: #f0f0f0;
  padding: 1rem;
  align-items: center;
  margin-top: 2rem;
}
main header .header__logo {
  font-size: 1.5rem;
  font-weight: 700;
}
main header .header__logo span {
  color: #ff3720;
}
main header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  font-size: 1rem;
  justify-content: space-between;
}
main header ul li {
  margin-left: 1rem;
}
main header ul a {
  text-decoration: none;
  text-transform: uppercase;
}
main .main__greeting {
  margin-top: 10%;
  text-align: center;
}
main .main__greeting * {
  color: #f0f0f0;
}
main .main__greeting h2 {
  font-size: 4rem;
  font-weight: normal;
  border-bottom: 2px solid red;
}
main .main__greeting h3 {
  font-size: 2rem;
  font-weight: normal;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 3rem 0;
}
.catalog h4 {
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.catalog .catalog__cars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 70%;
}
.catalog .catalog__cars .car {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog .catalog__cars .car span,
.catalog .catalog__cars .car button {
  margin-top: 1rem;
}
.catalog .catalog__cars .car img {
  width: 80%;
}
.catalog .catalog__cars .car button {
  background-color: #ff3720;
  width: 60%;
  outline: none;
  border: none;
  color: #f0f0f0;
  text-transform: uppercase;
  padding: 0.5rem;
}
.catalog .catalog__cars .car button:hover {
  background-color: black;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.pricing h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.pricing table {
  border-collapse: collapse;
  max-width: 600px;
}
.pricing table thead {
  background-color: #ff3720;
}
.pricing table thead th {
  padding: 0.5rem 3.5rem;
}
.pricing table thead * {
  color: #f0f0f0;
}
.pricing table tbody {
  text-align: center;
}
.pricing table tbody tr {
  border-bottom: 1px solid gray;
}
.pricing table tbody tr td {
  padding: 0.5rem 0;
}
.pricing table tbody tr td:first-of-type {
  background-color: #f0f0f0;
  font-weight: bold;
}
.pricing button {
  background-color: #ff3720;
  width: 40%;
  outline: none;
  border: none;
  color: #f0f0f0;
  text-transform: uppercase;
  padding: 0.5rem;
  display: none;
}

footer {
  padding: 0 15%;
  background-color: black;
}
footer .footer__logo {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid red;
  margin: 2rem 0;
}
footer .footer__logo span {
  color: #e42b15;
}
footer .footer__content {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  padding-bottom: 2rem;
}
footer .footer__content address {
  display: flex;
  flex-direction: column;
}
footer .footer__content address span {
  color: #f0f0f0;
}

@media screen and (max-width: 900px) {
  main {
    height: 60vh;
  }
  main .main__greeting {
    margin-top: 20%;
  }
  main .main__greeting h2 {
    font-size: 2rem;
  }
  main .main__greeting h3 {
    font-size: 1rem;
  }
  main header {
    width: 95%;
  }
  main header .header__logo {
    font-size: 1rem;
  }
  main header ul {
    margin-left: auto;
    font-size: 0.7rem;
  }

  footer .footer__logo {
    text-align: center;
  }
  footer .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer__content address {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 500px) {
  main {
    background-image: none;
    background-color: black;
  }
  main header {
    flex-direction: column;
    align-items: flex-start;
  }
  main header .header__logo {
    float: left;
  }
  main header ul {
    flex-direction: column;
    margin: auto;
  }
  main header ul li {
    margin-top: 2rem;
    text-align: center;
  }
  main .main__greeting {
    margin-top: 5%;
  }
  main .main__greeting h2 {
    font-size: 2rem;
  }
  main .main__greeting h3 {
    font-size: 1rem;
  }

  .catalog h4 {
    font-size: 1rem;
  }

  .pricing table {
    display: none;
  }
  .pricing button {
    display: block;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  footer .footer__logo {
    width: 80%;
  }
  footer .footer__content {
    padding: 0;
    padding-bottom: 1rem;
  }
  footer iframe {
    max-width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
